######################################################
#
# project gitignore
#
######################################################

**build/


### Doxygen output
######################################################
**/Doxy/
**/doxygen_warnings.txt


### Ignore object files
######################################################
*.o


### IDE files
######################################################
.settings
.cproject
.project
#.vscode
.trunk
.pydevproject
*.pmd
#.notebook


### Python
######################################################
.venv/


### User specific ignores
######################################################
